@import url(http://fonts.googleapis.com/css?family=Pacifico);

/* globals */
.mod_blackgallery_wrapper{margin:0;padding:0;}
.mod_blackgallery .rounded{border:1px solid #aaa;-webkit-border-radius: 8px;-moz-border-radius: 8px;-khtml-border-radius: 8px;border-radius: 8px;}
/* header */
.mod_blackgallery .bg_heading{font-family:'Pacifico',cursive;font-size:1.8em;padding-bottom:8px;text-shadow: 4px 4px 4px #aaa;}
.mod_blackgallery div.bg_heading hr{border:0;height:0;border-bottom:2px solid #000;-moz-box-shadow:4px 3px 3px 0px #aaa;-webkit-box-shadow:4px 3px 3px 0px #aaa;box-shadow:4px 3px 3px 0px #aaa;}
/* default list settings */
.mod_blackgallery ul.bgLightbox,
.mod_blackgallery ul.bgCategories{padding-left:0;margin-left:0;}
.mod_blackgallery ul.bgLightbox li,
.mod_blackgallery ul.bgCategories li{float:left;list-style:none outside url();padding:3px;text-align:center;margin-right:5px;margin-bottom:5px;}
.mod_blackgallery ul.bgLightbox li a img,
.mod_blackgallery ul.bgCategories li a img{vertical-align:middle;}
.mod_blackgallery ul.bgLightbox li a,
.mod_blackgallery ul.bgCategories li a{text-decoration:none;border:0;}
/* this is for the sliding caption */
.mod_blackgallery div.mod_blackgallery_wrapper ul li{position:relative;}
.mod_blackgallery div.mod_blackgallery_wrapper ul li span.caption{width:100%;line-height:25px;height:25px;text-align:center;display:none;position:absolute;bottom:0;left:0;right:0;border:0;border-top:1px solid #aaa;}
/* opacity */
.mod_blackgallery div.mod_blackgallery_wrapper ul li span.caption{overflow-x:hidden;opacity:0.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);-khtml-opacity:0.8;-moz-opacity:0.8;}


/* breadcrumb */
.mod_blackgallery .breadcrumb {
	list-style: none;
	overflow: hidden;
	font: 18px Helvetica, Arial, Sans-Serif;
}
.mod_blackgallery .breadcrumb li {
	float: left;
}
.mod_blackgallery .breadcrumb li a {
	color: white;
	text-decoration: none;
	padding: 10px 0 10px 65px;
	background: brown;                   /* fallback color */
	background: hsla(34,85%,35%,1);
	position: relative;
	display: block;
	float: left;
}

.mod_blackgallery .breadcrumb li a:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid hsla(34,85%,35%,1);
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 100%;
	z-index: 2;
}

.mod_blackgallery .breadcrumb li a:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}

.mod_blackgallery .breadcrumb li:first-child a {
	padding-left: 10px;
}
.mod_blackgallery .breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
.mod_blackgallery .breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
.mod_blackgallery .breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
.mod_blackgallery .breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
.mod_blackgallery .breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
.mod_blackgallery .breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
.mod_blackgallery .breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
.mod_blackgallery .breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
.mod_blackgallery .breadcrumb li:last-child a {
	background: transparent !important;
	color: black;
	pointer-events: none;
	cursor: default;
}

.mod_blackgallery .breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
.mod_blackgallery .breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }
